<div >
        <button class="btn" type="button" (click)='caso1()'>Boton 1</button>
        <button class="btn" type="button" (click)='caso2()'>Boton 2</button>
        <button class="btn" type="button" (click)='caso3()'>Boton 3</button>
</div>

<div [ngSwitch]="opcion" >
    <div *ngSwitchCase="0">
        <h1>precione el boton 1</h1>
        <h1>precione el boton 2</h1>
        <h1>precione el boton 3</h1>
    </div>


    <div *ngSwitchCase="1">
        <h1>No te rindas</h1>
    </div>
    <div *ngSwitchCase="2">
        <h1>Puedes lograrlo</h1>
    </div>
    <div *ngSwitchDefault>
        <h1>Falta poco</h1>
    </div>

</div>

